.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  .title {
    font-weight: 600;
    position: relative;
    margin-bottom: 5px;
    font-size: 1.43rem;
    line-height: 2.14rem;
    color: #070707;
    margin-top: 0;
  }

  .close {
    display: block;
    position: absolute;
    right: 35px;
    top: 17px;
    width: 10px;
    height: 10px;
    opacity: 0.3;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }

    &:before, &:after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 20px;
      width: 2px;
      background-color: #333;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }
}

.inputs {
  width: 100%;
  height: 70%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;

  input {
    display: block;
    width: 50%;
    height: 20%;
    border: 1px solid rgba(131, 131, 131, 0.84);
    border-radius: 3px;
    outline: none;

    &:focus {
      outline: none;
      box-shadow: 0 0 12px -2px rgb(123, 213, 213);
    }
  }
}

.buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 5px;

  .btnClose {
    background: rgba(168, 3, 3, 0.58);
  }

  button {
    padding: 5px 15px;
    border: 1px solid rgba(131, 131, 131, 0.84);
    border-radius: 3px;
  }
}