@import './src/common/CommonStyles.module';

.header {
  @include displayFlex(row, nowrap, space-between, '');

  .title {
    @include ModalTitle();
  }

  .close {
    @include Close();
  }
}

  .inputs {
    @include displayFlex(column, wrap, space-around, '');
    width: 100%;
    height: 70%;

    input {
      display: block;
      width: 50%;
      height: 20%;
      border: 1px solid rgba(131, 131, 131, 0.84);
      border-radius: 3px;
      outline: none;

      &:focus {
        outline: none;
        box-shadow: 0 0 12px -2px rgb(123, 213, 213);
      }
    }
  }

  .buttons {
    @include displayFlex(row, wrap, space-around, '');
    margin: 5px;


    .btnClose {
      background: rgba(168, 3, 3, 0.58);
    }

    button {
      @include Button();
    }
  }
