@keyframes showMessage {
  0% {
    transform: translate(-300px);
  }
  10% {
    transform: translate(0px);
  }
  90%{
    transform: translate(0px);
  }
  100%{
    transform: translate(-300px);
  }
}

.success {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 200px;
  color: #ffffff;
  border: 1px solid #41e808;
  background: #41e808;
  padding: 5px 15px;
  animation: showMessage 5.1s;
}

.error {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 200px;
  color: #ffffff;
  border: 1px solid #e50d0d;
  background: #e50d0d;
  padding: 5px 15px;
  animation: showMessage 5.1s;
}

.info {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 200px;
  color: #ffffff;
  border: 1px solid #eadf09;
  background: #eadf09;
  padding: 5px 15px;
  animation: showMessage 5.1s;
}

.close {
  display: block;
  position: absolute;
  right: 35px;
  top: 17px;
  width: 10px;
  height: 10px;
  opacity: 0.3;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }

  &:before, &:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #333;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}