@keyframes showMessage {
  0% {
    transform: translate(-300px);
  }
  10% {
    transform: translate(0px);
  }
  90%{
    transform: translate(0px);
  }
  100%{
    transform: translate(-300px);
  }
}

@mixin displayFlex($direction, $wrap, $just, $align){
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $just;
  align-items: $align;
};

@mixin Close(){
  display: block;
  position: absolute;
  right: 35px;
  top: 17px;
  width: 10px;
  height: 10px;
  opacity: 0.3;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }

  &:before, &:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #333;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
};

@mixin Toast(){
  position: fixed;
  top: 20px;
  left: 20px;
  width: 200px;
  color: #ffffff;
  padding: 5px 15px;
  transform: translate(-300px);
  animation: showMessage 5.1s;
};

@mixin Button(){
  padding: 5px 15px;
  border: 1px solid rgba(131, 131, 131, 0.84);
  border-radius: 3px;
};

@mixin ModalTitle(){
  font-weight: 600;
  position: relative;
  margin-bottom: 5px;
  font-size: 1.43rem;
  line-height: 2.14rem;
  color: #070707;
  margin-top: 0;
}